<div class = "mymade">

<div class="nav-container">
    <div class="item">
      <!-- <img src = "https://img.freepik.com/premium-vector/good-food-logo-template_79169-17.jpg?w=2000" style = "width : 4rem; z-index: 1;"> -->
      <a  class="nav-link " routerLink = "" (click) = "tabs = 'home'"  aria-current="page" > <i class="fa-solid fa-house"></i>Home</a>
    </div>
    <div class="item">
      <a class="link" routerLink = "cart" (click) = "tabs = 'cart'" (mouseover) = "cart();"><i class="fa-solid fa-cart-shopping"></i>{{cartitem}}<div id = "id1"></div></a>
    </div>
    <div class="item profile-parent">
      <span class="material-symbols-outlined profile-icon" id="profile-icon">
        account_circle
      </span>  
      <div class="dropdown-content">
        <a routerLink = "myprofile" (click) = "tabs = 'myprofile'">My Profile</a>
        <a href="#">Orders</a>
        <a href="#">Exploring</a>
      </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>

