.collapseable{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 80%;
    margin: auto;
    text-align: left;
    /* border-radius: 18px; */
}

.orderHead{
    background-color: rgb(195, 185, 185);
    color: rgb(24, 23, 23);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.orderHead{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.itemHead{
    display: flex;
    flex-direction: row;
    gap: 2rme;
}

.itemName{
    padding : 0 1rem 0 1rem;
}

.orderID{
    padding-right: 1rem;;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
}

.detailItems{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.item_content {
    width: 80%;
    background-color: #d9cece;
    color: rgb(54, 3, 3);
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
} 