<div>
    <br><br>
    <div class="shopping-head">
        <b style="font-size :x-large; font-weight: 500;">Shopping Cart</b>
    </div>
    <hr>
</div>

<!-- <span>
    <table>
        <tr>
            <th>Product Details</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <br><br>
        <tr *ngFor="let x of cart">
            <td>
                <table >
                    <tr style = "padding-top : 1rem;;">
                        <td style = "padding-left: 4px;">
                            <img [src]="x.img" style="height: 8rem; width : 12rem;">
                        </td>
                        <td style = "padding-left: 4px;">
                            <b style = "font-size: medium; font-weight: 500; padding-bottom: 0.6rem;">{{x.name}}</b><br>
                            <button class = "remove" (click) = remove(x.id)>remove</button>                
                        </td>
                    </tr>
                </table>
                
                

            </td>
            <td style="margin-left: 10rem;">
                <button style="background-color : white; border : 0px;color: rgb(46, 167, 224);"
                    (click)="countdecrease(x.id);">
                    <span class="material-symbols-outlined">
                        remove
                    </span>
                </button>
                <sup>{{x.quantity}}</sup>
                <button style="background-color : white; border : 0px; color: rgb(46, 167, 224);"
                    (click)="countincrease(x.id);">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
            </td>
            <td>
                {{x.price}}
            </td>
            <td>
                {{x.quantity * x.price}}
            </td>

        </tr>
    </table>
    <span *ngIf="empty == false">
        <h3 style="margin-left : 58rem">
            total price : {{total}}
        </h3>
    </span>
</span>
<span *ngIf = "empty == false">
    <button class = "btn btn-warning" style="margin-left: 58rem; color: white;" (click) = "Checkoutfunc()">Checkout</button>
</span> -->




<div *ngIf="empty != true">
    
    <div class="outer-container">
        <div class="product-head">PRODUCT</div>
        <div class="quantity-head">QUANTITY</div>
        <div class="price-head">PRICE</div>
    </div><br><br>

    <div class="item-body" *ngFor="let x of cart;">
        <div class="product">
            <div>
                <img src={{x.img}} alt="">
            </div>
            <div class="product-name">
                <b>{{x.name}}</b>
            </div>
        </div>
        <div class="quantity">
            <button style="background-color : white; border : 0px;color: rgb(46, 167, 224);"
                (click)="countdecrease(x.id);">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
            {{x.quantity}} 
            <button style="background-color : white; border : 0px; color: rgb(46, 167, 224);"
                (click)="countincrease(x.id);">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button> 
            <button style="background-color : white; border : 0px; color: rgb(46, 167, 224);"
                (click)="remove(x.id);">
                <span class="material-symbols-outlined">
                    delete
            </span>
        </button>
        </div>
        <div class="price">
            {{x.price}}
        </div>
        <br>    
    </div>
    <div class="total-parent">
        <div class="total-price">
            <h4>Total Price : </h4>
            <h4>{{total | currency : 'INR'}}</h4>
        </div>
        <button type="submit" id="proceedPayment" (click) = "beforePayment();">Proceed Payment</button>
    </div>
    <div>

    </div>
</div>



<div *ngIf="empty == true">
    <br><br><br><br><br><br><br>
    <div class="empty-cart">
        <h3>Cart is empty!!</h3>
    </div>
</div>

<br><br><br>