<div>
  <img src="https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png" style = "width : 100%; height : 24rem;" alt="...">
  <div class="heading-image">
    <label ><h3 style = "font-size: 3rem; font-style: italic;">Delis<b style = "font-size: 3.5rem; font-weight: 600;">h</b><b style = "font-size: 5rem; font-weight: 600;">h</b></h3></label><br>
    <h4 style = "font-weight: 400;">Explore the best foods and drinks in town</h4>
    <input #f type = "text" placeholder="Search dish or cuisine" (keyup.enter) = "func(f.value);">
  </div>
</div>

  <div class="nav-container">
    <div [ngClass]="type == 'all' ? 'active-tab' : 'inactive-tab'" (click) = "type = 'all'; method();"  aria-current="page">
      <a>All</a>
    </div>
    <div  [ngClass]="type == 'veg' ? 'active-tab' : 'inactive-tab'" (click) = "type = 'veg'; method();">
      <a>Veg</a>
    </div>
    <div [ngClass]="type == 'nonveg' ? 'active-tab' : 'inactive-tab'" (click) = "type = 'nonveg'; method();">
      <a>Non Veg</a>
    </div>
    <div [ngClass]="type == 'drinks' ? 'active-tab' : 'inactive-tab'" (click) = "type = 'drinks'; method();">
      <a>Drinks</a>
    </div>
  </div>
  <hr>
<br><br>

<app-cards [localarray] = "local"></app-cards>

